{% extends 'boutique1/base.html' %}
{% block add_Collection_active %}active{% endblock %}
{% block title %}Discover{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
    <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'boutique1:shopDetails' shop.id %}">
                            {% if shop.logo %}
                                <img src="{{ shop.logo.url }}" class="img-responsive"
                                     style="width: 350px; height: 400px">
                            {% else %}
                                <h3>Image not found</h3>
                            {% endif %}
                        </a>
                        <h1>{{ shop.name }} - {{ shop.owner.user.username }}</h1>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Details:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Owner:</td>
                                <td>{{ shop.owner.user.username }}</td>
                            </tr>
                            <tr>
                                <td>Shop name:</td>
                                <td>{{ shop.name }}</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>{{ shop.description }}</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>{{ shop.address }}</td>
                            </tr>
                            <tr>
                                <td>Create date:</td>
                                <td>{{ shop.create_date }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        <div class="col-sm-12 col-md-9">

        <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li role="presentation"><a href="{% url 'boutique1:shopDetails' shop.id %}">See All</a></li>
                    <li role="presentation" class="active"><a href="{% url 'boutique1:create_collection' shop.id%}">Add
                        Collection</a></li>
                </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add Collection</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'boutique1/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Enter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
