{% extends 'boutique1/base.html' %}
{% block title %}{{ shop }}{% endblock %}
{% block boutiques_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid songs-container">

        <div class="row">

            <!-- Left Album Info -->
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'boutique1:shopDetails' shop.id %}">
                            {% if shop.logo %}
                                <img src="{{ shop.logo.url }}" class="img-responsive"
                                     style="width: 350px; height: 400px">
                            {% else %}
                                <h3>Image not found</h3>
                            {% endif %}
                        </a>
                        <h1>{{ shop.name }} - {{ shop.owner.user.username }}</h1>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Details:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Owner:</td>
                                <td>{{ shop.owner.user.username }}</td>
                            </tr>
                            <tr>
                                <td>Shop name:</td>
                                <td>{{ shop.name }}</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>{{ shop.description }}</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>{{ shop.address }}</td>
                            </tr>
                            <tr>
                                <td>Create date:</td>
                                <td>{{ shop.create_date }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Right Product Info -->
            <div class="col-sm-8 col-md-9">

                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li role="presentation" class="active"><a href="{% url 'boutique1:shopDetails' shop.id %}">All
                        Products</a></li>
                    <li role="presentation"><a href="{% url 'boutique1:myCollections' shop.id %}">All Collections</a>
                    </li>
                    <li role="presentation"><a href="{% url 'boutique1:promotions' shop.id %}">All Promotions</a>
                    </li>
                    <li role="presentation"><a href="{% url 'boutique1:allAlbums' shop.id %}">All Albums</a>
                    </li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="col-sm-3 pull-right">
                        <form action="{% url 'boutique1:create_product' shop.id %}" method="" style="display: inline;">
                            <button class="btn btn-xs" style="color: green;height: 40px;width: 200px">
                                <span class="glyphicon glyphicon-plus-sign"></span> Add Product
                            </button>
                        </form>
                    </div>

                        <h3>All Produits</h3>

                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Product name</th>
                                <th>Price</th>
                                <th>Description</th>
                                <th>Product picture</th>
                                <th>Shop</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in shop.product_set.all %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.description }}</td>
                                    <td>
                                        <a href="{% url 'boutique1:prodDetails' shop.id product.id %}">
                                            <img src="{{ product.principal_picture.url }}" class="img-responsive"
                                                 style="width: 50px; float: left; margin-right: 10px;"/>
                                        </a>
                                        <a href="{% url 'boutique1:prodDetails' product.shop.id product.id %}">{{ product.name }}</a>
                                    </td>
                                    <td>
                                        <span href="{% url 'boutique1:shopDetails' product.shop.id %}">
                                            <img src="{{ product.shop.logo.url }}" class="img-responsive"
                                                 style="width: 50px; float: left; margin-right: 10px;"/>
                                        </span>
                                        <span href="{% url 'boutique1:shopDetails' product.shop.id %}">{{ product.shop.name }}</span>
                                    </td>
                                    <td>
                                        {% if product.is_active %}
                                            <p class="list-group-item-text">
                                                <span class="label label-success">Active</span>
                                            </p>
                                        {% else %}
                                            <p class="list-group-item-text">
                                                <span class="label label-danger">Not Active</span>
                                            </p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'boutique1:delete_product' shop.id product.id %}"
                                              method="POST" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ product.id }}"/>
                                            <button type="submit" class="btn btn-danger btn-xs" name="remove_levels"
                                                    value="delete"
                                                    onclick="return confirm('Are you sure you want to delete this item?');">
                                                <span class="glyphicon glyphicon-remove"></span> Delete
                                            </button>
                                        </form>
                                        <form action="{% url 'boutique1:duplicate_product' shop.id product.id %}"
                                              method="GET" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ product.id }}"/>
                                            <button type="submit" class="btn btn-primary btn-xs" name="remove_levels"
                                                    value="delete">
                                                <span class="glyphicon glyphicon-duplicate"></span> Duplicate
                                            </button>
                                        </form>
                                        <form action="{% url 'boutique1:edit_product' shop.id product.id %}"
                                              method="GET" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="produit_id" value="{{ product.id }}"/>
                                            <button type="submit" class="btn btn-warning btn-xs" name="remove_levels"
                                                    value="Edit">
                                                <span class="glyphicon glyphicon-edit"></span> Edit
                                            </button>
                                        </form>

                                        <form action="{% url 'boutique1:prodDetails' product.shop.id product.id %}"
                                              method="GET" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ product.id }}"/>
                                            <button type="submit" class="btn btn-info btn-xs" name="remove_levels"
                                                    value="delete">
                                                <span class="glyphicon glyphicon-info-sign"></span> Details
                                            </button>
                                        </form>

                                        <form action="{% url 'boutique1:activate_product' shop.id product.id %}"
                                              method="GET" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ product.id }}"/>
                                            {% if product.is_active %}
                                                <button type="submit" class="btn btn-danger btn-xs" name="remove_levels"
                                                        value="delete">
                                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                                    Deactivate
                                                </button>
                                            {% else %}
                                                <button type="submit" class="btn btn-success btn-xs"
                                                        name="remove_levels"
                                                        value="delete">
                                                    <span class="glyphicon glyphicon-ok-circle "></span>
                                                    Activte
                                                </button>
                                            {% endif %}
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
